[raven]
name=Raven's RPM repo for el$releasever-$basearch - base
baseurl=https://{{ raven_repo_base_url }}/el8/base/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-raven
gpgcheck=1
enabled={{ raven_repo_enabled }}

[raven-modular]
name=Raven's Modular RPM repo for el$releasever-$basearch  - modular
baseurl=https://{{ raven_repo_base_url }}/el8/modular/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-raven
gpgcheck=1
enabled={{ raven_repo_modular_enabled }}

[raven-multimedia]
name=Raven's RPM repo for el$releasever-$basearch  - multimedia
baseurl=https://{{ raven_repo_base_url }}/el8/multimedia/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-raven
gpgcheck=1
enabled={{ raven_repo_multimedia_enabled }}

[raven-extras]
name=Raven's RPM repo for el$releasever-$basearch - extras
baseurl=https://{{ raven_repo_base_url }}/el8/extras/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-raven
gpgcheck=0
enabled={{ raven_repo_extras_enabled }}